
body{
    background-color: papayawhip;
}


.my-main-header{
    min-height: 80px;
    background-color:grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    top : 0px;
    left: 0px;
    width: 100%;
    border-bottom: 5px solid black;
    z-index: 100;
}

.my-main-header button{
    background-color: black;
    color: blanchedalmond;
    padding: 20px;
    border-radius: 2px 20px;
    margin: 30px;
}

.my-main-header button:hover{
    background-color: blanchedalmond;
    color: black;
    transition: 0.5s;
}
.main-page{
    margin-top: 130px;
}

.no-opton-selected{
    font-size: 30px;
    margin-top: 30%;
}